/* GENERAL RULES */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}

.container-fluid{
    padding-left: 30px;
    padding-right: 30px;
}

.mp-text,
.mp-text-white{
    width: 100%;
    padding-left: 30px;
}

.mp-text > p{
    color: #727272;
}

.mp-text > span{
    color: #0072ce;
    text-transform: uppercase;
    display: block;
}

.mp-text-white{
    color: white;
}

[class *= 'mp-text'] img{
    padding-right: 30%;
    object-fit: cover;
    width: 100%;
    padding-bottom: 20px;
}

[class *= 'mp-text'] h1{
    padding-bottom: 20px;
}

[class *= 'mp-btn']{
    border-radius: 40px;
    color: white;
    margin-bottom: 5px;
    transition: filter 0.5s;
}

.mp-btn{
    background-color: #2d64e6;
}
.mp-btn-red{
    background-color: #cd3d0f;
}

.mp-btn-gray{
    background-color: #363636;
}
.mp-btn-white{
    background-color: white;
    color: black;
}
.mp-btn-explore{
    background-color: #d9dadc;
    color: #2d64e6;
        
}

[class *= 'mp-btn']:hover{
    outline-offset: 2px;
    filter: brightness(1.2);
    color: white;
}

.mp-btn:hover{
    outline: 2px solid #2d64e6;    
}

.mp-btn-red:hover{
    outline: 2px solid #cd3d0f;  
}

.mp-btn-gray:hover{
    outline: 2px solid #363636;
}

.mp-btn-white:hover{
    outline: 2px solid white;
    color: black;
    filter: brightness(1);
}

.mp-btn-explore:hover{
    filter: brightness(1);
    color: #2d64e6;
    outline-offset: 0;
    outline: 2px solid #d9dadc67;
}

/* HEADER */

.mp-header-top{
    height: 35px;
}

.mp-header-top > img{
    height: 40%;
    padding-right: 30px;
}

.mp-header-bottom{
    min-height: 65px;
    font-weight: 500;
}

.mp-header-sel{
    text-decoration: none;
    color: black;
}

.mp-chevron,
.mp-chevron-hover{
    height: 10px;
    padding-left: 5px; 
    display: inline;       
}

.mp-chevron-hover{
    display:none;
    transform: rotate(180deg) scaleX(-1);

}

.mp-header-sel:hover .mp-chevron{
    display: none;
}

.mp-header-sel:hover .mp-chevron-hover{
    display: inline;
}

.mp-collapse{
    background-color: white;    
}

.mp-ps3{
    padding:20px 50px;
}

.mp-ps3 img{
    width: 60px;
    display: block;
}

.mp-list{
    width: 100%;
    display: block;
    text-align: center;
    border-top: 1px solid #bebcbb;
}

.mp-list ul{
    padding-top: 10px;
}

.mp-list li{
    display: inline-block;
    padding-right: 10px;
    list-style-type: disc;
    padding-top: 35px;
}

.mp-list li::before{
    content: '\00a0\2022\00a0\00a0';
    color: #0072ce;
    font-size: 20px;
}

.mp-list a{
    text-decoration: none;
    color: black;
}

.mp-form{
    margin-left: auto;
}

.mp-form button{
    border: 0;
}

.mp-form img{
    width: 40px;
    padding-left: 20px;
}

/* MAIN */

/* jumbotron */

.mp-jumbo,
.mp-jumbo-two{
    
    margin-top: 100px;
    
    background-image: url('../img/jumbo-bg.png');
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.mp-jumbo-two{
    background-image: url('../img/it-takes-two-hero-banner-desktop.jpg');
}

.mp-jumbo-row{
    padding-top: 300px;
    padding-bottom: 50px;
    width: 100%;  
}


.mp-game-sel{
    margin:10px;
    border-radius:15px;
    overflow: hidden;
    transition: margin 0.5s;
}

/* hover da sito PS */
.mp-game-sel:hover{
    margin-top: 0;
    filter: opacity(100%) !important;
}

.mp-game-sel-row .mp-game-sel{
    filter: opacity(80%);
}

.mp-game-sel img{
    width: 100%;
}

.mp-game-outline{
    outline: 2px solid #0072ce;
    outline-offset: 2px;
}

/* hardware-shop */

.mp-card{
    opacity: 80%;
    border: 2px solid transparent;
    border-radius: 0;  
    transition: opacity 0.5s; 
}

.mp-card:hover{
    opacity: 1;
    border-bottom: 2px solid #0072ce;
}

.mp-card img{
    width: 60%;
}


/* new-entry */
.mp-bg-darkgray{
    background-color: #1f1f1f;
}

.mp-new-img img{
    border-radius: 15px;
}

/* ps-plus */
.mp-bg-gray{
    background-color: #bebcbb;
}

/* ps-now */

.mp-bg-blue{
    background-color: #161c3b;
}

/* social */
.mp-social-distace{
    max-width: 600px;
}

/* FOOTER */

footer{
    min-height: 500px; 
    background-color: #00439c; 
}

.mp-sie{
   width: 150px; 
}

.mp-ps-footer{
    height: 100px;
    padding-bottom: 20px;
}

.mp-globe{
    height: 20px;
}

