/* GENERAL RULES */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



[class *= 'col']{ /* da rimuovere */
    background-color: burlywood;
    border: 1px solid black;
    min-height: 50px;
}

.mp-text,
.mp-text-white{
    width: 100%;
    background-color: aquamarine; /* da rimuovere */
    padding-left: 30px;
}

.mp-text > p{
    color: #727272;
}

.mp-text > span{
    color: #0072ce;
    text-transform: uppercase;
    display: block;
}

.mp-text-white{
    color: white;
}

[class *= 'mp-text'] img{
    padding-right: 40%;
    object-fit: cover;
    width: 100%;
}

[class *= 'mp-text'] h1{
    padding-top: 10px;
    padding-bottom: 20px;
}

[class *= 'mp-btn']{
    border-radius: 40px;
    color: white;
    margin-bottom: 5px;
}

.mp-btn{
    background-color: #2d64e6;
}
.mp-btn-red{
    background-color: #cd3d0f;
}

.mp-btn-gray{
    background-color: #363636;
}
.mp-btn-white{
    background-color: white;
    color: black;
}
.mp-btn-explore{
    background-color: #d9dadc;
    color: #2d64e6;
}

[class *= 'mp-btn']:hover{
    outline-offset: 2px;
    filter: brightness(1.2);
    color: white;
}

.mp-btn:hover{
    outline: 2px solid #2d64e6;    
}

.mp-btn-red:hover{
    outline: 2px solid #cd3d0f;  
}

.mp-btn-gray:hover{
    outline: 2px solid #363636;
}

.mp-btn-white:hover{
    outline: 2px solid white;
    color: black;
}

.mp-btn-explore:hover{
    filter: brightness(1);
    color: #2d64e6;
}






/* HEADER */

.mp-header-top{
    height: 35px;
}

.mp-header-top > img{
    height: 40%;
}

.mp-header-bottom{
    height: 65px;
}

/* MAIN */

/* jumbotron */

.mp-jumbo{
    background-color: brown; /* da rimuovere */
    margin-top: 100px;
    height: 620px;
    position: relative;
    overflow: hidden;
}

.mp-jumbo > img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.mp-jumbo-row{
    position: absolute;
    bottom: 50px;
    width: 100%;
    max-height: 80%;
}

.mp-game-sel{
    margin:10px;
    border-radius:15px;
    overflow: hidden;
}

.mp-game-sel img{
    width: 100%;
}

.mp-game-outline{
    outline: 2px solid #0072ce;
    outline-offset: 2px;
}

/* hardware-shop */

.mp-side-image{
    width: 100%;
}

.mp-card{
    opacity: 80%;
}

.mp-card:hover{
    opacity: 1;
    border-bottom: 2px solid #0072ce;
}

/* new-entry */
.mp-bg-darkgray{
    background-color: #1f1f1f;
}


/* mini-jumbo */
.mp-bg-gray{
    background-color: #bebcbb;
}

/* FOOTER */

footer{
    height: 500px; /* da rimuovere */
    background-color: cornflowerblue; /* da modificare */
}